@{
    ViewData["Title"] = "Tabulator Crud Operation ";
}
<link rel="stylesheet" href="~/css/fontawesome.css" />
<link rel="stylesheet" href="~/css/tabulator(5.5).css" />

<div class="text-center">
    <h1 class="display-4">Tabulator Crud Operations</h1>
</div>

<div id="tblDepartment"></div>
<script src="~/js/tabulator(5.5).js"></script>
<script src="~/js/fontawesome.js"></script>